body {
    font-family: Arial Narrow, sans-serif;
    color: rgb(32, 56, 100);
}

.title {
    background-color: rgb(222, 235, 247);
    width: 100%;
    height: 30px;
}

.logo {
    text-align: center;
}

.top_option_item {
    float: left;
    margin-right: 50px;
    list-style: none;
}

.left_option_item {
    margin-right: 50px;
    list-style: none;
}

.left_navbar {
    position: relative;
    left: 100px;
    top: 50px;
}

.search {
    float: right;
    border-bottom: 1px solid black;
}

.search input {
    color: #545050;
    font-size: 15px;
    outline: none;
    padding: 3px 5px 3px 20px;
    border: none;
}