input[type="text"] {
    text-decoration: rgb(252, 252, 255);
    padding: 12px;
    width: 100%;
    border-color: #E3E3E3;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

input[type="text"]:focus {
    background-color: rgb(243, 250, 253);
    border-color: #E3E3E3;
    border-style: solid;
    border-width: 1px;
}

input[type="password"] {
    padding: 12px;
    width: 100%;
    border-color: #E3E3E3;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

input[type="password"]:focus {
    background-color: rgb(243, 250, 253);
    border-color: #E3E3E3;
    border-style: solid;
    border-width: 1px;
}

input[type="submit"] {
    align-items: right;
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-width: 1px;
    border-color: #E3E3E3;
    border-style: solid;
    border-radius: 15px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    background: #a4cce7ac;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

input[type="submit"]:hover {
    background-color: #feffff;
    text-decoration: none;
}