.center {
    margin: auto;
    width: 70%;
    padding: 10px;
  }
  .center h2{
    color: #010665;
    font-weight: bold;
}
#cart{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
#cart td,#cart th {
    /* width: 30%; */
    border: 0px;
    padding: 8px;
 }
  
 #cart th {
   padding-top: 12px;
   padding-bottom: 12px;
   border: 0px;
   text-align: left;
   font-size: 35px;
   font-weight: bold;
   color: #010665;
 }
 #butt{
    margin: 20px;
    float: right;
 }
 
.cart_check{
  width: 10px;
}
.cart_img{
  width: calc(100%/3);
}
.cart_img img{
  width: 100px;
  height: 100px;
}
.cart_name{
  width: calc(100%/4);
}
.cart_num{
  width: 30px;
}
.cart_price{
  width: 30px;
}
.cart_del{
  text-align: center;
  width: 30px;
}